@import "~bulma/sass/utilities/_all.sass";

$background-color: #fafafa;

$titlecolor:red;
$table-color: green;
$table-cell-border-width: 0 0 1rem;
$table-cell-border: 1rem solid #fafafa;
$table-row-hover-background-color: #e6e6e6;

// section 
$section-padding: 0 0 1rem 0;


@import "~bulma/bulma";